body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    box-sizing: border-box;
    height: 72px;
    padding: 10px 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.pushed {
    margin-left: auto;
}

.hero {
    padding: 50px 200px;
    background-color: #1F2937;
}

img {
    width: 400px;
    height: auto;
}

.text-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-div {
 
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

h1 {
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 300px;
}

.sign-up {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
}

.info {
    display: flex;
    padding: 30px 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.box-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.box-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}

.box-text {
    text-align: center;
    width: 150px;
}

.quote {
    padding: 30px 200px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    flex-wrap: wrap;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.call-to-action {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-call-div {
    background-color: #3882F6;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.call-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.call-header {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #F9FAF8;
    font-weight: bold;
}

.call-text {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.call-button {
    height: 35px;
    width: 120px;
    border-radius: 10px;
    background-color: transparent;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #F9FAF8;
}

footer {
    height: 72px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 16px;
    font-weight: 200px;
    color: #E5E7EB;
}